/* Contacto.css */
.contacto {
    padding: 40px;
    text-align: center;
  }
  
  .contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contacto input,
  .contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  


  /* Estilos para la sección de contacto */
#contacto {
  padding: 60px 15px;
  background-color: #e0f7fa;
}

#contacto h2 {
  text-align: center;
  color: #00796b;
  font-size: 30px;
}

#contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

#contacto input, #contacto textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #00796b;
}

#contacto button {
  background-color: #00796b;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contacto button:hover {
  background-color: #004d40;
}
