/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #111111;
  --second-bg-color: #151515;
  --text-color: white;
  --main-color: #ea63d8f0;
  --main-color-hover: #d447c2;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/* Estilos generales de las secciones */
section {
  min-height: 100vh;
  padding: 10rem 9%;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos generales de los botones */
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

/* Estilos generales de los headings */
.heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 8rem;
}

/* Estilo para el span (COLOR PRINCIPAL) - AHORA EN styles.css */
span {
  color: var(--main-color);
}